@use '@/components/styles/_variables.scss' as *;

.notification {
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  h2 {
    font-size: $font-size-xl;
    font-weight: $font-weight-normal;
    color: $foreground-main;
  }

  p {
    color: $foreground-secondary;
  }
}