@use '@/components/styles/_variables.scss' as vars;

.page {
  width: 100%;
  min-height: 100lvh;
  height: auto;
  background-color: vars.$background-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$spacing-3xl;
  padding-bottom: vars.$spacing-3xl;
}