@use '@/components/styles/_variables.scss' as *;


.footer {
  background-color: $background-main;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  font-family: var(--font-poppins);
  border-top: $border-normal;

  &_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 100px;


    &_left {
      display: flex;
      flex-direction: column;

      .add_text {
        color: $foreground-light;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: $spacing-sm;

      .text {
        font-size: $font-size-md;
        font-weight: $font-weight-normal;
        color: $primary-dark;
      }

      .register_button {
        padding: $spacing-xs $spacing-lg;
        background: $primary-main;
        font-size: $font-size-md;
        font-weight: $font-weight-normal;
        color: $foreground-white;
        box-shadow: $box-shadow-main;
        border-radius: $border-radius-sm
      }
    }
  }

  &_bottom {
    background: $primary-main;
    width: 100%;
    padding: $spacing-xs;
    color: $foreground-white;
    font-size: $font-size-sm;
    font-weight: $font-weight-thin;
    text-align: center;
  }
}