@use '@/components/styles/_variables.scss' as *;

.section_hero {
  width: $container-width-xl;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-6xl;
  padding-top: $spacing-xl;

  .about {
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
    margin-top: $spacing-lg;

    .title {
      font-size: $font-size-3xl;
      font-weight: $font-weight-bold;
      line-height: 1.5;
      color: $primary-dark;
    }

    .description {
      font-size: $font-size-md;
      font-weight: $font-weight-light;
      color: $foreground-light;
      white-space: nowrap;
    }

    .button {
      background-color: $primary-main;
      font-size: $font-size-lg;
      color: $foreground-white;
      border-radius: $border-radius-sm;
      padding: $spacing-sm $spacing-xl;
      box-shadow: $box-shadow-main;
      cursor: pointer;
      border: none;
      width: max-content;
    }

    .metrics {
      margin-top: $spacing-2xl;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .item {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;

        &>img {
          width: 2rem;
          height: 2rem;
        }

        .title {
          font-size: $font-size-md;
          font-weight: $font-weight-normal;
          color: $primary-dark;

          &>span {
            color: $foreground-light;
          }
        }
      }
    }
  }

  .banner {
    position: relative;
    z-index: 1;

    .image {
      width: 100%;
      height: max-content;
      aspect-ratio: 5/4;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px $border-radius-lg $border-radius-lg $border-radius-lg;

      &>img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    .frame {
      width: 100%;
      aspect-ratio: 5/4;
      position: absolute;
      z-index: -1;
      top: $spacing-xl;
      left: $spacing-xl;
      border-radius: $border-radius-lg;
      overflow: hidden;
      border: $border-bold;
      border-radius: $border-radius-lg;
    }
  }
}