@use "@/components/styles/_variables.scss" as *;

.selected_range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-md $spacing-lg;
  background: $background-light;
  border-radius: $border-radius-md;
  border: $border-normal;
  transition: border-color $transition-fast;
  width: 100%;
  max-width: 300px;
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  color: $foreground-main;

  .label {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: $spacing-sm;

    .input {
      width: $spacing-3xl;
      padding: $spacing-xs 0;
      margin-left: $spacing-md;
      text-align: center;
      background: $background-main;
      border: none;
      outline: none;
      color: $foreground-main;
      background-color: transparent;
      font-size: $font-size-md;
    }

    .button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      &>svg {
        color: $primary-main;
      }
    }

    &>svg {
      color: $primary-main;
    }
  }


}

.error {
  padding: $spacing-md $spacing-lg;
  background: $background-disabled;
  border: $border-normal;
  border-radius: $border-radius-md;
  color: $red;
  font-size: $font-size-sm;
  text-align: center;
  width: 100%;
  max-width: 400px;
}