@use '@/components/styles/_variables.scss' as *;

.loader {
  width: $container-width-xl;
  background-color: $background-main;
  border: $border-normal;
  border-radius: $border-radius-md;
  padding: $spacing-3xl;
  box-shadow: $box-shadow-sm;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &_icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    color: $green;
  }

  &_description {
    font-size: $font-size-lg;
    color: $foreground-secondary;
    line-height: 1.6;
    max-width: 600px;
    margin: 0;
  }
}