@use '@/components/styles/_variables.scss' as *;

.field {
  display: flex;
  align-items: center;

  .label {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    cursor: pointer;
    user-select: none;

    .checkbox {
      width: 18px;
      height: 18px;
      cursor: pointer;
      accent-color: $primary-main;
    }

    .text {
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
      color: $foreground-main;
    }
  }
}

