@use '@/components/styles/_variables.scss' as *;

.event_row {
  cursor: pointer;

  &>td {
    padding: $spacing-md;
  }

  &>td:first-child {
    width: 60%;
  }

  &_avatar {
    width: 6rem;
    height: 6rem;
    aspect-ratio: 1/1;
    border-radius: $border-radius-sm;
    object-fit: cover;
  }

  &_name_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-md;
    width: auto;

    &_info {
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;

      &_name {
        color: $foreground-main;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 6rem;
        gap: $spacing-md;
        height: $font-size-lg;
        font-size: $font-size-md;
        font-weight: $font-weight-semibold;
        font-family: var(--font-open-sans);
      }

      &_location {
        color: $foreground-light;
        min-width: 7rem;
        height: $font-size-md;
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
      }

      &_description {
        color: $foreground-secondary;
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
      }
    }


  }

  &_type {
    color: $foreground-white !important;
    background-color: $primary-light;
    padding: $spacing-xs $spacing-lg;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm !important;
    font-weight: $font-weight-semibold;
    max-width: 8rem;
  }

  &_status {
    color: $foreground-white !important;
    padding: $spacing-xs $spacing-lg;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm !important;
    font-weight: $font-weight-semibold;
    max-width: 8rem;

    &_available {
      background-color: $green;
    }

    &_unavailable {
      background-color: $yellow;
    }
  }

  &_created {
    color: $foreground-secondary;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
  }
}