@import '@/components/styles/_variables.scss';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-main);
  background-color: var(--background-main);
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}
