@use "@/components/styles/_variables.scss" as *;


.page {
  width: 100%;
  min-height: 100lvh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $background-light;
  overflow-x: hidden;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100lvh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo_container {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  border-radius: $border-radius-2xl;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($background-main, 0.7);
}

.logo {
  position: absolute;
  font-size: $font-size-5xl !important;
}

.form_container {
  width: 50%;
  min-height: 100lvh;
  margin-left: 50%;
  padding: $spacing-3xl $spacing-6xl;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.from_title {
  width: 100%;
  text-align: center;
  font-size: $font-size-3xl;
  font-weight: $font-weight-normal;
  font-family: var(--font-poppins);
  color: $foreground-main;
  padding-bottom: $spacing-3xl;
}