@use '@/components/styles/_variables.scss' as *;

.card {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: $border-radius-lg;
  cursor: pointer;
  transition: $transition-normal;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    background: $primary-main;
    color: $foreground-white;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    padding: $spacing-sm $spacing-xl;
    border-radius: 0 $border-radius-lg 0 $border-radius-lg;
    display: inline-flex;
    gap: $spacing-xs;
    z-index: 2;
    align-items: center;

    .pernight {
      font-weight: $font-weight-thin;
      font-size: $font-size-sm;
    }
  }

  .room_title {
    position: absolute;
    left: $spacing-lg;
    bottom: $spacing-md;
    color: $foreground-white;
    font-size: $font-size-lg;
    font-weight: $font-weight-light;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
    z-index: 1;
    pointer-events: none;
  }

  &_large {
    .room_title {
      font-size: $font-size-xl;
    }
  }
}