@use '@/components/styles/_variables.scss' as *;

.page {
  width: 100%;
  min-height: 100lvh;
  height: auto;
  background-color: $background-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-6xl;
  padding-bottom: $spacing-6xl;

 



 

}