@use '@/components/styles/_variables.scss' as *;

.container {
  width: 100%;
  height: 100%;

  padding: $spacing-md $spacing-lg;
  border-radius: $border-radius-lg;
  background-color: $background-main;
  gap: $spacing-md;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .icon {
    width: $font-size-md;
    height: $font-size-md;
    color: $foreground-secondary;
  }

  .input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: $font-size-md;
    font-family: var(--font-open-sans);
    font-weight: $font-weight-light;
    color: $foreground-secondary;
    line-height: 150%;
  }
}