@use '@/components/styles/_variables.scss' as *;

.nav_button {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: $spacing-md;
  font-weight: $font-weight-light;
  color: $foreground-secondary;
  padding: $spacing-sm 0;
  cursor: pointer;

  &:hover {
    color: $foreground-main;
  }

  &.active {
    color: $primary-main;
    border-right: 3px solid $primary-main;
  }

  &>svg {
    width: $font-size-lg;
    height: $font-size-lg;
  }

  &>p {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    font-family: var(--font-open-sans);
  }
}