@use '@/components/styles/_variables.scss' as *;

.meta {
  display: flex;
  gap: $spacing-sm;
  flex-direction: column;

  &_row {
    display: flex;
    gap: $spacing-sm;
    align-items: center;
  }

  .icon {
    padding: $spacing-xs;
    border-radius: $border-radius-sm;
    background-color: $primary-disabled;
    width: calc($font-size-2xl - 6px);
    height: calc($font-size-2xl - 6px);
    color: $foreground-white;
    cursor: pointer;

    &_allowed {
      background-color: $green;
    }

    &_not_allowed {
      background-color: $red;
    }
  }

  .status {
    padding: $spacing-xs $spacing-md;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;

    &.available {
      background: $green;
      color: $foreground-white;
    }

    &.unavailable {
      background: $yellow;
      color: $foreground-main;
    }
  }

  .type {
    background: $primary-main;
    color: $foreground-white;
    padding: $spacing-xs $spacing-md;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    text-transform: capitalize;
  }

  .floor,
  .capacity {
    color: $primary-dark;
    font-size: $font-size-sm;
  }
}