@use '@/components/styles/_variables.scss' as *;

.header {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  padding: $spacing-md;
  background: $background-main;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  width: 100%;

  .main_info {
    display: flex;
    gap: $spacing-lg;
    flex: 1;
    width: 100%;

    .info {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      width: 100%;
    }

    .features {
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
    }
  }

  .description {
    color: $foreground-secondary;
    font-size: $font-size-md;
    line-height: 1.5;
    margin: 0;
  }
}