@use '@/components/styles/_variables.scss' as *;

.header {
  padding: $spacing-md;
  display: flex;
  align-items: center;
  gap: $spacing-md;
  flex-shrink: 0;
  border-bottom: $border-normal;

  .collapse_button {
    width: $font-size-3xl;
    height: $font-size-3xl;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-md;
    background-color: $background-light;
    border: none;
    cursor: pointer;
    transition: $transition-fast;
    color: $foreground-secondary;
    flex-shrink: 0;

    svg {
      width: $font-size-lg;
      height: $font-size-lg;
    }

    &:hover {
      background-color: $primary-disabled;
      color: $primary-main;
    }
  }

  .search_container {
    flex: 1;
    display: flex;
    gap: $spacing-sm;
    align-items: center;
    position: relative;
    min-width: 0;

    &_collapsed {
      display: none;
    }

    svg {
      position: absolute;
      left: $spacing-md;
      width: $font-size-lg;
      height: $font-size-lg;
      color: $foreground-light;
      z-index: 1;
    }

    input {
      width: 100%;
      padding: $spacing-sm $spacing-md $spacing-sm $spacing-3xl;
      border: $border-normal;
      border-radius: $border-radius-md;
      font-size: $font-size-md;
      outline: none;
      color: $foreground-main;
      transition: $transition-fast;
      background-color: $background-light;

      &:focus {
        border-color: $primary-main;
        background-color: $background-main;
      }

      &::placeholder {
        color: $foreground-light;
      }
    }
  }
}