@use "@/components/styles/_variables.scss" as *;

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2.2fr;
  gap: $spacing-3xl;
  max-width: $container-width-xl;
  margin: 0 auto;
  min-height: 100%;
}