@use '@/components/styles/_variables.scss' as *;

.messages {
  flex: 1;
  overflow-y: auto;
  padding: $spacing-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  background-color: $background-light;

  &_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $foreground-secondary;
    gap: $spacing-md;

    &_icon {
      font-size: 64px;
      opacity: 0.3;
    }

    &_text {
      font-size: $font-size-lg;
    }
  }

  &_typing {
    display: flex;
    align-items: flex-start;
    gap: $spacing-sm;
  }

  &_typing_indicator {
    display: flex;
    align-items: flex-start;
    gap: $spacing-sm;
  }

  &_typing_avatar {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    object-fit: cover;
  }

  &_typing_text {
    background-color: $background-main;
    border-radius: $border-radius-md;
    padding: $spacing-sm $spacing-md;
    display: inline-block;
  }

  &_typing_dots {
    display: flex;
    gap: 4px;

    span {
      width: 8px;
      height: 8px;
      border-radius: 9999px;
      background-color: $foreground-light;
      animation: typing 1.4s infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes typing {

  0%,
  60%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }

  30% {
    opacity: 1;
    transform: scale(1.2);
  }
}