@use '@/components/styles/_variables.scss' as *;


.dropdown {
  position: absolute;
  top: calc(100% + $spacing-sm);
  left: 0;
  z-index: 1000;
  background: $background-main;
  border: $border-normal;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-md;



  .no_items {
    padding: $spacing-md;
    color: $foreground-light;
    font-size: $font-size-sm;
    text-align: center;
  }

  &_button {
    display: flex;
    align-items: center;
    border: none;
    border-top: $border-normal;
    gap: $spacing-sm;
    width: 100%;
    padding: $spacing-sm;
    background: transparent;
    cursor: pointer;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: $foreground-main;
    transition: all 0.2s ease;
    white-space: nowrap;

    &:hover {
      background: $background-light;
      color: $green;
    }
  }
}