@use '@/components/styles/_variables.scss' as *;

.page {
  width: 100%;
  min-height: calc(100lvh - #{$spacing-3xl * 2});
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;

  .title {
    width: 100%;
    display: flex;
    color: $primary-main;
    font-size: $font-size-xl;
    font-family: var(--font-open-sans);
    font-weight: $font-weight-bold;
  }
}