@use '@/components/styles/_variables.scss' as *;

.page {
  padding: $spacing-lg 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;

  .title {
    width: 100%;
    display: flex;
    color: $primary-light;
    font-size: $font-size-xl;
    font-family: var(--font-open-sans);
    font-weight: $font-weight-bold;
  }
}