@use '@/components/styles/_variables.scss' as *;


.variant {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-lg;
  border: $border-normal;
  border-radius: $border-radius-lg;
  background: $background-main;
  position: relative;
  box-shadow: $box-shadow-md;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-md;
  }

  @media (max-width: $breakpoint-sm) {
    padding: $spacing-sm;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-normal;
    padding-bottom: $spacing-sm;

    .capacity {
      display: flex;
      align-items: center;
      gap: $spacing-xs;
      font-size: $font-size-md;
      font-weight: $font-weight-semibold;
      color: $foreground-main;
      padding: $spacing-xs $spacing-sm;
      border-radius: $border-radius-md;

      @media (max-width: $breakpoint-md) {
        font-size: $font-size-sm;
      }
    }

    .price {
      font-size: $font-size-md;
      font-weight: $font-weight-bold;
      color: $foreground-white;
      background: $primary-main;
      padding: $spacing-xs $spacing-sm;
      border-radius: $border-radius-md;
      box-shadow: $box-shadow-sm;

      @media (max-width: $breakpoint-md) {
        font-size: $font-size-sm;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    .beds {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      padding: $spacing-xs $spacing-sm;
      border-radius: $border-radius-sm;
      border-left: $border-normal;
      border-left-color: $yellow;

      .bed {
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        font-size: $font-size-md;
        font-weight: $font-weight-normal;
        color: $foreground-main;

        &_image {
          object-fit: contain;
        }
      }
    }

    .amenities {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-xs;

      .amenity {
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        font-size: $font-size-sm;
        color: $foreground-secondary;
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius-md;
        border: $border-normal;
        font-weight: $font-weight-normal;
      }
    }
  }
}